
DeepLearningSpecialization/Convolutional Neural Networks/week3/Car detection for Autonomous Driving/model_data/yolo.h5
DeepLearningSpecialization/Convolutional Neural Networks/week4/Neural Style Transfer/pretrained-model/imagenet-vgg-verydeep-19.mat
DeepLearningSpecialization/Convolutional Neural Networks/week1/Convolution+model+-+Step+by+Step+-+v1.ipynb
DeepLearningSpecialization/Convolutional Neural Networks/week2/KerasTutorial/Keras+-+Tutorial+-+Happy+House+v1.ipynb
DeepLearningSpecialization/Convolutional Neural Networks/week2/ResNets/Residual+Networks+-+v1.ipynb
DeepLearningSpecialization/Convolutional Neural Networks/week2/ResNets/ResNet50.h5
DeepLearningSpecialization/Convolutional Neural Networks/week3/Car detection for Autonomous Driving/Autonomous+driving+application+-+Car+detection+-+v1.ipynb
DeepLearningSpecialization/Convolutional Neural Networks/week3/Car detection for Autonomous Driving/Autonomous+driving+application+-+Car+detection+-+v2.ipynb
DeepLearningSpecialization/Convolutional Neural Networks/week4/Face Recognition/Face+Recognition+for+the+Happy+House+-+v1.ipynb
DeepLearningSpecialization/Convolutional Neural Networks/week4/Face Recognition/Face+Recognition+for+the+Happy+House+-+v2.ipynb
DeepLearningSpecialization/Convolutional Neural Networks/week4/Neural Style Transfer/Art+Generation+with+Neural+Style+Transfer+-+v1.ipynb
DeepLearningSpecialization/Convolutional Neural Networks/week4/Neural Style Transfer/Art+Generation+with+Neural+Style+Transfer+-+v2.ipynb
